{% if site.data.skills %}
<section class="skills-section section">

  <h2 class="section-title"><i class="fa fa-code"></i>Skills &amp; Technologies</h2>

  <div class="skillset">

    {% if site.data.skills.choice == 'skills' %}
        {% for skill in site.data.skills.skills %}
        <div class="item">

          <h3 class="level-title">{{ skill.name }}</h3>

          <div class="level-bar">
            <div class="level-bar-inner" data-level="{{ skill.level }}">
            </div>
          </div><!--//level-bar-->

        </div><!--//item-->
        {% endfor %}

    {% elsif site.data.skills.choice == 'skillgroups' %}
        {% for skill in site.data.skills.skillgroups %}
        <div class="item">

          <h3 class="level-title">{{ skill.name }}</h3>

          {{ skill.info }}

        </div><!--//item-->
        {% endfor %}
    {% endif %}

  </div>

</section><!--//skills-section-->
{% endif %}
